h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: 700;
        text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
